[includeIf "gitdir:~/Documents/pager/"]
  path = ~/shankyjs-config/gitconfig/pager

[includeIf "gitdir:~/Documents/os/"]
  path = ~/shankyjs-config/gitconfig/os

[includeIf "gitdir:~/"]
  path = ~/shankyjs-config/gitconfig/os